
.main{
  height: 100vh;
  /* background-color: #fffde7; */
  /* background-repeat: repeat;
  background-attachment: scroll;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d8c643' fill-opacity='0.29'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}
.nav{
  height: 56px;
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.center{
  color: white;
  width: 60vw;
  display: flex;
  justify-content: flex-end;
}
.left{
  justify-content: left;
  display: flex;
  width: 20vw;
  margin-left: 10px;
}
.right{
  justify-content: flex-end;
  display: flex;
  width: 20vw;
  margin-right: 24px;
}

.loginContainer{
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.login{
  display: flex;
  flex-direction: column;
}

.loginBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(225, 225, 225, 0.75);
  backdrop-filter: blur(5px);
  width: 30vw;
  padding: 2rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  padding-top: 3rem;
  margin-top: -2rem;
  z-index: 1;
}

.timetable{
  height: 54vh;
}

